<%- partial('sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>关于众邮-北邮开发者社区</h3>
      <hr />
      <div class="topic_content">
      <p>众邮开发者社区是北邮人发起的社区，旨在为北邮的开发者们提供一个交流学习的地方。</p>
      <p>在里每个人都可以发布自己觉得有意思的信息、发布自己做出来的一些很酷的东西，甚至，你还可以在这里发起号召，寻找志同道合的小伙伴一起去完成一个开源项目、创业项目等等。我们希望大家能在这里找到共同语言、畅所欲言，为改变北邮，甚至改变世界做出贡献！<br>
	我们非常欢迎更多的朋友加入我们（发邮件到 <a href='mailto:buptinfo@126.com'>buptinfo@126.com</a>）。</p>
      </div>
    </div>
  </div>  
</div>
